body {
  font-family: 'Sarpanch', 'Noto Sans TC', 'PT Sans', 'Lobster', sans-serif;
  background: #c38b57;
}
body section {
  position: relative;
}
body .img-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  padding: 0 5%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
}
body .img-container .img-modal {
  width: 100%;
  height: 0 auto;
}
body .img-container img {
  width: 100%;
}
body .border {
  margin-top: 20px;
  margin-bottom: 50px;
}
body .bgtop::after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #c38b57;
  position: absolute;
  top: 0;
  transform: skewY(-3deg) translate(0, -150%);
}
body .bgbottom::before {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #c38b57;
  position: absolute;
  bottom: 0;
  transform: skewY(-3deg) translate(0, 50%);
}
body .title {
  font-size: 28px;
  font-weight: 700;
}
body #Yoru {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 50px;
}
body #header {
  font-size: 24px;
}
body #header .dropdown-menu {
  background: #FDA301;
  color: #fff;
}
body #header .dropdown-menu :hover {
  background: #ffbd43;
}
body #header form.form-inline input.form-control {
  width: 100px;
  transition: 0.2s linear;
}
@media (min-width: 1100px) {
  body #header form.form-inline input.form-control:hover {
    width: 150px;
  }
}
@media (max-width: 1099px) and (min-width: 1065px) {
  body #header form.form-inline input.form-control:hover {
    width: 120px;
  }
}
@media (max-width: 1064px) {
  body #header form.form-inline input.form-control:hover {
    max-width: 100px;
  }
}
body .wrapper {
  position: relative;
}
body .event .nav-tabs .nav-link {
  border: 1px solid transparent;
  background-color: #FFE066;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
body .event .nav-tabs .nav-link.active {
  color: #fbfbfb;
  background-color: #333;
  border: none;
}
body .event .nav-tabs .nav-item.show .nav-link,
body .event .nav-tabs .nav-link {
  color: #222222;
}
body .event .sec {
  letter-spacing: 4px;
}
body .event .accordion {
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px #333;
}
body .event .card {
  background-color: #eaf2ff;
}
body .event button {
  color: #3966af;
}
body .event .btn-link:hover {
  color: #333;
  text-decoration: none;
}
body .event .btn-link:active {
  text-decoration: none;
}
#footer {
  background: #555555;
  letter-spacing: 3px;
}
#footer .system {
  background: #c5986e;
  font-size: 18px;
}
#footer .bottom {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #1B1B1B;
  border-top: 1px solid #2c2c2c;
}
#footer .bottom .copyright {
  margin: 10px 0;
  font-family: 'Lobster', cursive;
}
#footer .bottom .copyright p {
  margin: 0;
  line-height: 30px;
  color: #b1b1b1;
}
#footer .bottom .copyright p a {
  color: #3966af;
  text-decoration: none;
}
#footer .bottom .copyright p a:hover {
  color: #d6b161;
}
#footer .bottom .social-media {
  margin: 0;
}
#footer .bottom .social-media ul {
  padding-top: 10px;
  margin: 0;
}
#footer .bottom .social-media ul a {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #7e7e7e;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
}
#footer .bottom .social-media ul a:hover {
  color: #d6b161;
}
#footer .bottom .bottom_logo {
  text-align: center;
  margin-top: 0;
}
#footer .bottom .bottom_logo img {
  width: 300px;
}
#footer #go-top {
  z-index: 1000;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
#footer #go-top a {
  font-size: 36px;
  color: rgba(187, 36, 36, 0.5);
}
#footer #go-top a:hover {
  color: rgba(187, 66, 36, 0.9);
}
