body {
  font-family: 'PT Sans', 'Lobster', sans-serif;
  background: #c38b57;
}
body section {
  position: relative;
}
body .img-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
body .img-container .img-modal {
  width: 100%;
  height: 0 auto;
}
body .img-container img {
  width: 100%;
}
body .border {
  margin-top: 20px;
  margin-bottom: 50px;
}
body .bgtop::after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #c38b57;
  position: absolute;
  top: 0;
  transform: skewY(-3deg) translate(0, -150%);
}
body .bgbottom::before {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #c38b57;
  position: absolute;
  bottom: 0;
  transform: skewY(-3deg) translate(0, 50%);
}
body .title {
  font-size: 28px;
  font-weight: 700;
}
body #header {
  font-size: 24px;
}
body #header .dropdown-menu {
  background: #FDA301;
  color: #fff;
}
body #header .dropdown-menu :hover {
  background: #ffbd43;
}
body .wrapper {
  position: relative;
}
body #footer {
  background: #555555;
  letter-spacing: 3px;
}
body #footer .system {
  background: #c5986e;
  font-size: 18px;
}
body #footer .bottom {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #1B1B1B;
  border-top: 1px solid #2c2c2c;
}
body #footer .bottom .copyright {
  margin: 10px 0;
  font-family: 'Lobster', cursive;
}
body #footer .bottom .copyright p {
  margin: 0;
  line-height: 60px;
  color: #b1b1b1;
}
body #footer .bottom .copyright p a {
  color: #3966af;
  text-decoration: none;
}
body #footer .bottom .copyright p a:hover {
  color: #d6b161;
}
body #footer .bottom .social-media {
  margin: 0;
}
body #footer .bottom .social-media ul {
  padding-top: 10px;
  margin: 0;
}
body #footer .bottom .social-media ul a {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #7e7e7e;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
}
body #footer .bottom .social-media ul a:hover {
  color: #d6b161;
}
body #footer .bottom .bottom_logo {
  text-align: center;
  margin-top: 0;
}
body #footer .bottom .bottom_logo img {
  width: 300px;
}
body #footer #go-top {
  z-index: 1000;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
body #footer #go-top a {
  font-size: 36px;
  color: rgba(187, 36, 36, 0.5);
}
body #footer #go-top a:hover {
  color: rgba(187, 66, 36, 0.9);
}
