// color
@color_0   : rgb(195, 139, 87);
@color_0-2 : rgba(195, 139, 87, .8);
@color_1   : rgb(214, 177, 97);
@color_2   : #333;
@color_3   : #7e7e7e;
@color_4   : #222222;
@color_5   : #f5f5f5;
@color_6   : #a2a2a2;
@color_7   : #1B1B1B;
@color_8   : #FFE066;
@color_9   : #418aff;
@color_9-2 : #3966af;
@color_9-3 : #eaf2ff;
@color_10  : #FDA301;
@color_11  : rgb(197, 152, 110);
;


body {
    font-family: 'PT Sans', 'Lobster', sans-serif;

    background: @color_0;
    @base-size: 25px;

    section {
        position: relative;
    }

    .img-container {
        display         : none;
        position        : fixed;
        top             : 0px;
        left            : 0;
        padding         : 0 5%;
        width           : 100%;
        height          : 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index         : 400;

        .img-modal {
            width : 100%;
            height: 0 auto;
        }

        img {
            width: 100%;
        }
    }


    .border {
        margin-top   : 20px;
        margin-bottom: 50px;
    }

    .bgtop::after {
        content            : "";
        width              : 100%;
        height             : 100px;
        background-color   : @color_0;
        position           : absolute;
        top                : 0;
        transform          : skewY(-3deg) translate(0, -150%);
        // box-shadow      : 0px -20px 20px @color_0;
    }

    .bgbottom::before {
        content            : "";
        width              : 100%;
        height             : 100px;
        background-color   : @color_0;
        position           : absolute;
        bottom             : 0;
        transform          : skewY(-3deg) translate(0, 50%);
        // box-shadow      : 0px -20px 20px @color_0;

    }

    .title {
        font-size  : 28px;
        font-weight: 700;
    }









    #header {
        font-size: 24px;

        .dropdown-menu {
            background: @color_10;
            color     : #fff;

            :hover {
                background: #ffbd43;
            }
        }
    }

    .wrapper {
        position: relative;

    }

    // Event
    .event {

        .nav-tabs .nav-link {
            border                 : 1px solid transparent;
            background-color       : @color_8;
            border-top-left-radius : 0.8rem;
            border-top-right-radius: 0.8rem;
        }

        .nav-tabs .nav-link.active {
            color           : #fbfbfb;
            background-color: @color_2;
            border          : none;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link {
            color: @color_4;
        }

        //event2
        .accordion {
            margin-bottom: 50px;
            box-shadow   : 5px 5px 10px @color_2;
        }

        .card {
            background-color: @color_9-3;
        }


        button {
            color: @color_9-2;
        }

        .btn-link {
            &:hover {
                color: @color_2;
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
            }
        }
    }

}



#footer {
    background    : #555555;
    letter-spacing: 3px;

    .system {
        background: @color_11;
        font-size : 18px;
    }

    .bottom {
        position  : relative;
        bottom    : 0px;
        width     : 100%;
        background: @color_7;
        border-top: 1px solid #2c2c2c;


        .copyright {
            margin     : 10px 0;
            font-family: 'Lobster', cursive;


            p {
                margin     : 0;
                line-height: 60px;
                color      : rgb(177, 177, 177);

                a {
                    color          : @color_9-2;
                    text-decoration: none;

                    &:hover {
                        color: @color_1;
                    }
                }
            }
        }

        .social-media {
            margin: 0;

            ul {
                padding-top: 10px;
                margin     : 0;

                a {
                    margin-top        : 10px;
                    margin-left       : 10px;
                    display           : inline-block;
                    // border         : 1px solid @color_3;
                    // border-radius  : 50%;
                    width             : 40px;
                    height            : 40px;
                    color             : @color_3;
                    text-decoration   : none;
                    font-size         : 24px;
                    text-align        : center;
                    font-weight       : 400;
                    line-height       : 40px;

                    &:hover {
                        color        : @color_1;
                        // border    : 1px solid @color_1;
                        // background: @color_2;
                    }
                }
            }
        }

        .bottom_logo {
            text-align: center;
            margin-top: 0;

            img {
                width: 300px;
            }
        }
    }


    // #go-top
    #go-top {
        z-index : 1000;
        position: fixed;
        bottom  : 15px;
        right   : 15px;

        a {
            font-size: 36px;
            color    : rgba(187, 36, 36, 0.5);

            &:hover {
                color: rgba(187, 66, 36, 0.9);
            }
        }

    }

}